/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: 'lucinda console', sans-serif;
	color: #FFFFFF;
	background-color: #201335;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #B7ADCF;
	font-weight: bold;
    font-size: 16px;
}

h1
{
	color: #FFD9DA;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
    font-size: 18px;
}

h2 {
    color: #201335;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
    background-color: #FFD9DA
}

h3 {
	color: #FFD9DA;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: left;
}

a
{
	text-decoration: none;
	color: #B7ADCF;
}

nav {
	text-align: center;
}

.submit_button {
    background-color: #ff8cd3;
    color: #ffffff;
}

input[type='radio'] {
    background-color: #ff8cd3;
}
input[type='text'] {
    background-color: rgb(230, 212, 241);
    width: 200px;
    padding: 4px 4px;
    margin: 3px 0;
}

input[type='tel'] {
    background-color: rgb(230, 212, 241);
    width: 169px;
    padding: 4px 4px;
    margin: 3px 0;
}

input[type='email'] {
    background-color: rgb(230, 212, 241);
    width: 237px;
    padding: 4px 4px;
    margin: 3px 0;
}

input[type='radio'] {
    margin: 3px 0;
}


