/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: 'lucinda console', sans-serif;
	color: #DEC5E3;
	background-color: #8a0e3d;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #DEC5E3;
	font-weight: bold;
	font-size: 16px;
}

h1, h2
{
	color: #f18b5b;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	font-size: 22px;
}

h3 {
	color: #f18b5b;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: left;
	font-size: 22px;
}

p1 {
	text-align: left;
	color: #DEC5E3;
	font-size: 18px;
}

ul {
	text-align: left;
	color:#DEC5E3
}

a
{
	text-decoration: none;
	color: #70E4EF;
}

figure {
	text-align: center;
}

nav {
	text-align: center;
}

/* for activity 2 */
.submit_button {
    background-color: #ff8cd3;
    color: #ffffff;
}

input[type='radio'] {
    background-color: #ff8cd3;
}
input[type='text'] {
    background-color: rgb(230, 212, 241);
    width: 200px;
    padding: 4px 4px;
    margin: 3px 0;
}

input[type='tel'] {
    background-color: rgb(230, 212, 241);
    width: 169px;
    padding: 4px 4px;
    margin: 3px 0;
}

input[type='email'] {
    background-color: rgb(230, 212, 241);
    width: 237px;
    padding: 4px 4px;
    margin: 3px 0;
}

input[type='radio'] {
    margin: 3px 0;
}
