body
{
	font-family: 'lucinda console', sans-serif;
	color: #DEC5E3;
	background-color: #8a0e3d;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #DEC5E3;
	font-weight: bold;
	font-size: 16px;
}

h1, h2, h3
{
	color: #fcf3bf;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	font-size: 22px;
}

.a1 {
	color: #f18b5b;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: left;
	font-size: 22px;
}

a
{
	text-decoration: none;
	color: #70E4EF;
}

.a2{
	text-align: center;
}

.p1 {
	text-align: center;
	color: #DEC5E3;
	font-size: 18px;
}

.center_big_font {
	text-align: center;
	font-size: 28px;
}

.center_small_font {
	text-align: center;
	font-size: 15px;
}

.left-align {
    text-align: left;
}

.blue-heading {
    color:#f18b5b;
}

